<ion-content class="login-bg">
  <div class="login-header">
    <h1>Sign In</h1>
    <p class="tagline">skip the line, vote online</p>
  </div>

  <div class="login-card">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="login-btn">ENTER</ion-button>
  </div>
</ion-content>
